body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

/* flex containers */

.flexrow {
  display: flex;
  justify-content: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
}

header .logo img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-right: 10px;
}

header nav span {
  padding-left: 20px;
}

header nav span a {
  color: seashell;
}

.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

/* Main content */

.main {
  padding-top: 70px;
}

/* Main -> Mission content */

.mission {
  background: url("../images/img-mission-background.jpg") no-repeat center;
  height: 700px;
  width: 1200px;
}

.mission div {
  width: 100%;
  background-color: black;
  text-align: center;
}

.mission h2 {
  margin-top: 10px;
}

.mission h4 {
  margin-bottom: 10px;
}

/* Main -> Products content */

.products {
  width: 1000px;
  margin: 50px 0;
}

.products h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.products h4 {
  margin: 20px 0;
}

.space-between-product {
  width: 50px;
}

.product .image-content {
  height: 200px;
  width: 300px;
}

.product h4 {
  margin-top: 10px;
}

#productOne .image-content {
  background: url("../images/img-berryblitz.jpg") no-repeat center;
  background-size: cover;
}

#productTwo .image-content {
  background: url("../images/img-spiced-rum.jpg") no-repeat center;
  background-size: cover;
}

#productThree .image-content {
  background: url("../images/img-donut.jpg") no-repeat center;
  background-size: cover;
}

#productFour .image-content {
  background: url("../images/img-myrtle-ave.jpg") no-repeat center;
  background-size: cover;
}

#productFive .image-content {
  background: url("../images/img-bedford-bizarre.jpg") no-repeat center;
  background-size: cover;
}

/* Main -> Locations content */

.locations {
  background: url("../images/img-locations-background.jpg") no-repeat;
  background-size: cover;
  height: 500px;
  width: 1200px;
}

.locations h2 {
  margin: 0 0 15px 0;
}

.location {
  height: 300px;
  width: 300px;
  margin: 0 20px;
  background-color: black;
}

/* Footer */

footer {
  margin: 20px;
}

footer .address {
  height: 200px;
  margin-bottom: 100px;
}
